
@{
    ViewData["Title"] = "Membership";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Initially Table and button loading*@
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="form-group">
                    <h3 class="card-title">MemberShip Details</h3>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Branch</label>
                            <div class="col-md-12 col-sm-12 ">
                                <select class="form-control" id="BranchforSearch"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Status</label>
                            <div class="col-md-12 col-sm-12 ">
                                <select class="form-control" id="StatusforSearch"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Filter details</label>
                            <div class="row col-md-12 col-sm-12">
                                <div class="col-md-4 col-sm-4">
                                    <select class="form-control" id="SearchOptions"></select>
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    <input type="text" id="ValueforSearch" class="form-control" placeholder="Enter search value">
                                </div>
                            </div>                            
                        </div>
                        <div class="form-group">
                            <div style="float:right">
                                <button type="button" id="btnAdd" class="btn btn-success"><i class="fa fa-plus"></i> Add New</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer table-responsive">
                <table id="example1" class="table table-bordered table-striped tblMember">
                    <thead>
                        <tr>
                            <th>MemberShip Id</th>
                            <th style="width: 255px;">Name</th>
                            <th>NIC</th>
                            <th>PackageExpirationDate</th>
                            <th>MembershipExpirationDate</th>
                            <th>Active Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="tbodyid">
                    </tbody>
                </table>
                <div class="msg-block" id="noRecords">
                    <label>No Records found.</label>
                </div>
            </div>
            <div id="wait" class="loading-gif"><img src="~/dist/img/Loading.gif" width="70" height="70" /><br></div>
        </div>
    </div>
    <input type="hidden" id="GetBranchDetails" value="@Url.Action("GetBranchDetails", "Membership")" />
    <input type="hidden" id="SaveMembers" value="@Url.Action("SaveMember", "Membership")" />
    <input type="hidden" id="GetMembershipTypeDetails" value="@Url.Action("GetMembershipTypeDetails", "Settings")" />
    <input type="hidden" id="GetMembershipTypeById" value="@Url.Action("GetMembershipTypeById", "Settings")" />
    <input type="hidden" id="GetMemberDetails" value="@Url.Action("GetMemberDetails", "Membership")" />
    <input type="hidden" id="GetMemberShipById" value="@Url.Action("GetMemberShipById", "Membership")" />
    <input type="hidden" id="UpdateMemberShip" value="@Url.Action("UpdateMemberShip", "Membership")" />
    <input type="hidden" id="DeleteMemberShip" value="@Url.Action("DeleteMemberShip", "Membership")" />
    <input type="hidden" id="SearchMembers" value="@Url.Action("SearchMembers", "Membership")" />
    <input type="hidden" id="add" value="@ViewBag.Add" />
    <input type="hidden" id="edit" value="@ViewBag.Edit" />
    <input type="hidden" id="delete" value="@ViewBag.Delete" />
    <input type="hidden" id="view" value="@ViewBag.View" />

</div>

@* Add new Member Popup *@
<div id="MemberModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel"><strong>Members Details</strong></h4>
                <button type="button" class="close" data-dismiss="modal" onclick="Cancel()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="x_panel">
                    <div class="x_content">
                        <form id="formUser" class="form-horizontal form-label-left" enctype="multipart/form-data">
                            <input type="hidden" value="0" id="MembershipId" />

                            <div class="form-group row ">
                                <label class="control-label col-md-3 col-sm-3">First Name</label>
                                <div class="col-md-9 col-sm-9">
                                    <input type="text" required id="Fname" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row ">
                                <label class="control-label col-md-3 col-sm-3 ">Last Name</label>
                                <div class="col-md-9 col-sm-9">
                                    <input type="text" id="Lname" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-3 col-sm-3">
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" type="checkbox" id="NoNic" value="true">
                                        <label for="NoNic" class="custom-control-label">No NIC</label>
                                    </div>
                                </div>
                                <label class="control-label col-md-3 col-sm-3 ">NIC Number</label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input type="text" id="Nic" class="form-control">
                                    <span id="ValidNic" class="error" style="color: red;display:none">
                                        Please Enter Valid NIC number
                                    </span>
                                </div>
                            </div>
                            <div class="form-group row ">
                                <label class="control-label col-md-3 col-sm-3 ">Gender</label>
                                <div class="col-md-9 col-sm-9">
                                    <select class="form-control" id="Gender"></select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-md-3 col-sm-3 ">Date of birth</label>
                                <div class="input-group date col-md-9 col-sm-9" id="fromdate" data-target-input="nearest">
                                    <input type="text" id="DOB" class="form-control datetimepicker-input" data-target="#fromdate" data-toggle="datetimepicker" />
                                    <div class="input-group-append" data-target="#fromdate" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row ">
                                <label class="control-label col-md-3 col-sm-3 ">Age</label>
                                <div class="col-md-9 col-sm-9 ">
                                    <input type="text" id="Age" class="form-control" placeholder="Age">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-md-3 col-sm-3 ">Branch</label>
                                <div class="col-md-9 col-sm-9 ">
                                    <select class="form-control" id="Branch"></select>
                                </div>
                            </div>

                            <div class="form-group row ">
                                <label class="control-label col-md-3 col-sm-3 ">Contact No</label>
                                <div class="col-md-9 col-sm-9 ">
                                    <input type="text" id="ContactNo" class="form-control" placeholder="771234567">
                                    <span id="ContactAlert" class="error" style="color: red;display:none">
                                        Please enter a vaild Phone No
                                    </span>
                                </div>
                            </div>

                            <div class="form-group row ">
                                <label class="control-label col-md-3 col-sm-3 ">Email</label>
                                <div class="col-md-9 col-sm-9 ">
                                    <input type="text" id="Email" class="form-control">
                                    <span id="EmailAlert" class="error" style="color: red;display:none">
                                        Please enter a vaild Email Address
                                    </span>
                                </div>
                            </div>

                            <div class="form-group row ">
                                <label class="control-label col-md-3 col-sm-3 ">Height</label>
                                <div class="col-md-9 col-sm-9 ">
                                    <input type="text" id="Height" class="form-control" placeholder="Height In Centimeters">
                                    <span id="HAlert" class="error" style="color: red;display:none">
                                        Should be Numeric Value
                                    </span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-md-3 col-sm-3 ">Weight</label>
                                <div class="col-md-9 col-sm-9 ">
                                    <input type="text" id="Weight" class="form-control" placeholder="Weight In Kilograms">
                                    <span id="WAlert" class="error" style="color: red;display:none">
                                        Should be Numeric Value
                                    </span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-md-3 col-sm-3 ">BMI</label>
                                <div class="col-md-6 col-sm-6 ">
                                    <input type="text" id="BMI" class="form-control" placeholder="BMI" disabled>
                                </div>
                                <label id="Under" class="error col-md-3 col-sm-3" style="color: orange;display:none">Under Weight</label>
                                <label id="Normal" class="error col-md-3 col-sm-3" style="color: green;display:none">Normal Weight</label>
                                <label id="Over" class="error col-md-3 col-sm-3" style="color: orangered;display:none">Over Weight</label>
                                <label id="Obese" class="error col-md-3 col-sm-3" style="color: red;display:none">Obese</label>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-md-3 col-sm-3 ">Ideal weight</label>
                                <div class="col-md-9 col-sm-9">
                                    <input type="text" id="ExWeight" class="form-control" placeholder="Ideal Weight Range" disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-md-3 col-sm-3 ">House No/Name</label>
                                <div class="col-md-9 col-sm-9">
                                    <input type="text" id="HouseNo" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-md-3 col-sm-3 ">Street</label>
                                <div class="col-md-9 col-sm-9">
                                    <input type="text" id="Street" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-md-3 col-sm-3 ">District</label>
                                <div class="col-md-9 col-sm-9">
                                    <input type="text" id="District" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-md-3 col-sm-3 ">Province</label>
                                <div class="col-md-9 col-sm-9">
                                    <input type="text" id="Province" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row ">
                                <div class="col-md-3 col-sm-3">
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" type="checkbox" id="FreeMembership" value="true">
                                        <label for="FreeMembership" class="custom-control-label">Free Membership</label>
                                    </div>
                                </div>
                                <label class="control-label col-md-3 col-sm-3 ">Membership Package</label>
                                <div class="col-md-6 col-sm-6">
                                    <select class="form-control" id="Package" onchange="LoadMemberShipAmount()"></select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-md-3 col-sm-3 ">Joining Date</label>
                                <div class="input-group date col-md-9 col-sm-9" id="Jdate" data-target-input="nearest">
                                    <input type="text" id="JoinDate" class="form-control datetimepicker-input" data-target="#Jdate" data-toggle="datetimepicker" />
                                    <div class="input-group-append" data-target="#Jdate" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-md-3 col-sm-3 ">Payment</label>
                                <div class="col-md-3 col-sm-3">
                                    <input type="text" id="Payment" class="form-control" placeholder="Payment" disabled>
                                </div>
                                <label class="control-label col-md-3 col-sm-3 ">Introduced By</label>
                                <div class="col-md-3 col-sm-3">
                                    <input type="text" id="Introduce" class="form-control">
                                </div>
                            </div>
                            <div class="row ">
                                <label class="control-label"><u>Emergency Contact</u></label>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-md-3 col-sm-3">Contact No</label>
                                <div class="col-md-3 col-sm-3">
                                    <input type="text" id="EmergencyTP" class="form-control" placeholder="771234567">
                                    <span id="EContactAlert" class="error" style="color: red;display:none">
                                        Incorrect Phone Number!
                                    </span>
                                </div>
                                <label class="control-label col-md-3 col-sm-3">Relationship</label>
                                <div class="col-md-3 col-sm-3">
                                    <input type="text" id="Relation" class="form-control">
                                </div>
                            </div>
                            <div class="row ">
                                <label class="control-label"><u>Physical Condition and Medical Condition</u></label>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-6 col-sm-6">
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" type="checkbox" id="Smoking" value="true">
                                        <label for="Smoking" class="custom-control-label">Smoking Habit</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" type="checkbox" id="Discomfort" value="true">
                                        <label for="Discomfort" class="custom-control-label">Any Discomfort when physical excercises</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" type="checkbox" id="Herina" value="true">
                                        <label for="Herina" class="custom-control-label">Hernia or any other condition not conductive to weight lifiting</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" type="checkbox" id="Diabets" value="true">
                                        <label for="Diabets" class="custom-control-label">if Suffering from Diabetes</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" type="checkbox" id="Pain" value="true">
                                        <label for="Pain" class="custom-control-label"> Any pain to joint muscles or in the back caused by any accident or injury</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" type="checkbox" id="Complaint" value="true">
                                        <label for="Complaint" class="custom-control-label">Any complaint in breathing or in the region of lungs</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" type="checkbox" id="Trace" value="true">
                                        <label for="Trace" class="custom-control-label">Trace of heart aliment in the family</label>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" type="checkbox" id="Doctors" value="true">
                                        <label for="Doctors" class="custom-control-label">If family doctors,Advice discuraging exercises</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" type="checkbox" id="Cholesterol" value="true">
                                        <label for="Cholesterol" class="custom-control-label">Increase in cholesterol level in blood</label>
                                    </div>
                                    <div id="Frule" style="display:flex;" class="custom-control custom-checkbox">
                                        <input class="custom-control-input" type="checkbox" id="Pregnant" value="true">
                                        <label for="Pregnant" class="custom-control-label">Being conceived or pregnant during last 03 months</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" type="checkbox" id="Aliments" value="true">
                                        <label for="Aliments" class="custom-control-label">Past history of heart aliments.Chest pain or strokes</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" type="checkbox" id="Surgery" value="true">
                                        <label for="Surgery" class="custom-control-label">Any surgery done during past 12 months</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" type="checkbox" id="Pressure" value="true">
                                        <label for="Pressure" class="custom-control-label">Increase in blood pressure</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" type="checkbox" id="Incorrigible" value="true">
                                        <label for="Incorrigible" class="custom-control-label">Are there any incorrigible illness or painful condition</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <label class="control-label"><u>Purpose of the Training</u></label>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12 col-sm-12">
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" type="checkbox" id="Musele" value="true">
                                        <label for="Musele" class="custom-control-label">Musele gain</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" type="checkbox" id="Fat" value="true">
                                        <label for="Fat" class="custom-control-label">Fat loss</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" type="checkbox" id="Body" value="true">
                                        <label for="Body" class="custom-control-label">Body Building</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" type="checkbox" id="Fitness" value="true">
                                        <label for="Fitness" class="custom-control-label">Fitness</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" type="checkbox" id="Athletics" value="true">
                                        <label for="Athletics" class="custom-control-label">Athletics</label>
                                    </div>

                                </div>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" id="Status" value="true">
                                <label for="Status" class="custom-control-label">Active</label>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div style="float:right">
                                    <button type="button" id="btnAddMember" class="btn btn-success">Save</button>
                                    <button type="button" id="btnCancel" onclick="Cancel()" class="btn btn-warning">Cancel</button>
                                </div>
                            </div>
                            <div id="waitform" style="display:none;position:fixed;top:50%;left:50%;padding:2px;"><img src="~/dist/img/Loading.gif" width="70" height="70" /><br></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/page.membership.js"></script>
<script src="~/js/page.validation.js"></script>