
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}

<div class="card card-outline card-primary">
    <div class="card-header text-center">
        <a href="#" class="h1"><b>Jk </b>Fitness</a>
    </div>
    <div class="card-body">
        <p class="login-box-msg">Sign in to start your session</p>
        <form id="formId" method="post">
            <div class="input-group mb-3">
                @*<input type="hidden" id="msg" data-value="@ViewBag.Msg">*@
                <input type="text" class="form-control" id="UsrName" placeholder="UserName">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <input type="password" class="form-control" id="Pasword" placeholder="Password">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <div class="icheck-primary">
                        <p class="mb-1">
                            <a href="@Url.Action("ForgotPassword", "Login")">I forgot my password</a>
                        </p>
                    </div>
                </div>
                <div class="col-4">
                    <button type="button" id="SignIn" class="btn btn-primary btn-block">Sign In</button>
                </div>
                <div id="wait" class="loading-gif"><img src="~/dist/img/Loading.gif" width="70" height="70" /><br></div>

            </div>
        </form>
    </div>
    <input type="hidden" id="ValidateLogin" value="@Url.Action("ValidateLogin", "Login")" />
    <input type="hidden" id="ConfirmPassword" value="@Url.Action("ConfirmPassword", "Login")" />
    <input type="hidden" id="UpdatePassword" value="@Url.Action("UpdatePassword", "Login")" />
    <input type="hidden" id="SearchEmployees" value="@Url.Action("SearchEmployees", "Employee")" />
    <input type="hidden" id="HomePath" value="@Url.Action("Index", "Home")" />
</div>

<div id="ResetPasswordModel" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Update Password</h4>
                <button type="button" class="close" data-dismiss="modal" onclick="Cancel()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="x_panel">
                    <div class="x_content">
                        <form id="formUser" class="form-horizontal form-label-left" enctype="multipart/form-data">
                            <input type="hidden" id="EmployeeId" />
                            <div class="form-group row ">
                                <label class="control-label col-md-3 col-sm-3 ">Current Password</label>
                                <div class="col-md-9 col-sm-9 ">
                                    <input type="password" id="CurPassword" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row ">
                                <label class="control-label col-md-3 col-sm-3 ">Password</label>
                                <div class="col-md-9 col-sm-9 ">
                                    <input type="password" id="Password" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row ">
                                <label class="control-label col-md-3 col-sm-3 ">ConfirmPassword</label>
                                <div class="col-md-9 col-sm-9 ">
                                    <input type="password" id="ConfirmPasswordTxt" class="form-control">
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-9 col-sm-9  offset-md-3">
                                    <button type="button" id="btnPwdUpdate" class="btn btn-success">Update Password</button>
                                    <button type="button" onclick="Cancel()" class="btn btn-warning">Cancel</button>
                                </div>
                            </div>
                            <div id="Modelwait" style="display:none;position:fixed;top:30%;left:50%;padding:2px;"><img src="~/dist/img/Loading.gif" width="70" height="70" /><br></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/page.login.js"></script>