
@{
    ViewData["Title"] = "ProductList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="form-group">
                    <h3 class="card-title">Products List</h3>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Branch</label>
                            <div class="col-md-12 col-sm-12 ">
                                <select class="form-control" id="BranchforSearch"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Product Name</label>
                            <div class="col-md-12 col-sm-12 ">
                                <input type="text" id="PnameforSearch" class="form-control" placeholder="Enter Product Name">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cui-ecommerce--catalog">
                    <div class="row productHolder">

                    </div>
                </div>

            </div>
            <div id="wait" class="loading-gif"><img src="~/dist/img/Loading.gif" width="70" height="70" /><br></div>
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
    <input type="hidden" id="GetProductDetails" value="@Url.Action("GetProductDetails","Product")" />
    <input type="hidden" id="GetBranchDetails" value="@Url.Action("GetBranchDetails", "Employee")" />
    <input type="hidden" id="UpdateProductQuantity" value="@Url.Action("UpdateProductQuantity", "Product")" />
    <input type="hidden" id="SaveProducts" value="@Url.Action("SaveProduct", "Product")" />
    <input type="hidden" id="DeleteProduct" value="@Url.Action("DeleteProduct", "Product")" />

    <input type="hidden" id="add" value="@ViewBag.Add" />
    <input type="hidden" id="edit" value="@ViewBag.Edit" />
    <input type="hidden" id="delete" value="@ViewBag.Delete" />
    <input type="hidden" id="view" value="@ViewBag.View" />
</div>


<script src="~/js/page.productList.js"></script>